<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 映射配置 -->

<mapper namespace="com.ssm.mapper.specialty.SpecialtyMapper">

	<resultMap type="Specialty" id="specialtyMap">
		<id column="id" property="id" />
		<collection property="assesslist" column="id"
			select="com.ssm.mapper.specialty.AssessMapper.selectBySpecialtyId">
		</collection>

	</resultMap>

	<!-- 映射getAllSpecialtys方法的sql -->
	<select id="getAllSpecialtys" resultType="Specialty">
		<!-- 方法要执行的sql -->
		select * from tbl_specialty
	</select>
	<!-- 映射selectById方法的sql -->
	<select id="selectById" parameterType="Integer" resultMap="specialtyMap">
		<!-- 方法要执行的sql -->
		select c.* from tbl_specialty c where c.id = #{id}
	</select>
	<!-- 映射selectByOrigin方法的sql -->
	<select id="selectByOrigin" parameterType="String" resultType="Specialty">
		<!-- 方法要执行的sql -->
		select * from tbl_specialty where origin = #{origin}
	</select>

	<!-- 查询总记录数 -->
	<select id="selectCountByCondition" parameterType="SpecialtyVo"
		resultType="int">
		select count(*) from tbl_specialty f
		<where>

			<if
				test="specialty != null and specialty.origin != null and specialty.origin != ''">
				f.Origin = #{specialty.origin}

			</if>
		</where>
	</select>

	<!-- 查询分页 oracle -->
	<select id="selectListByPage" parameterType="SpecialtyVo"
		resultType="Specialty">
		<!-- oracle实现sql -->
		<!-- select * from (select t.*,rownum rn from tbl_specialty t <where> rownum 
			&lt;= (#{currentPage} * #{pageCount}) <if test="specialty != null and specialty.origin 
			!= null and specialty.origin != ''"> and t.Origin = #{specialty.origin} </if> 
			) a </where> where a.rn > (#{currentPage} - 1) * #{pageCount} -->

		<!-- mysql实现sql -->
		select t.* from tbl_specialty t
		<if
			test="specialty != null and specialty.origin != null and specialty.origin != ''">
			where t.origin = #{specialty.origin}
		</if>
		limit #{currentPage} , #{pageCount}

	</select>

	<!-- 映射selectByFilmName方法的sql -->
	<select id="selectByFilmName" parameterType="SpecialtyVo"
		resultType="Specialty">

		select * from tbl_specialty f
		<where>

			<if
				test="specialty != null and specialty.origin != null and specialty.origin != ''">
				f.Origin = #{specialty.origin}


			</if>
		</where>
	</select>

</mapper>
