<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.route.RouteOrderMapper">
	<cache></cache>
	<insert id="insertRouteOrder" parameterType="RouteOrder">
		insert into travel_routeorder values(travel_routeorder_id.nextval,#{adultCount},#{childCount},
		#{insuranceCount},#{insurancePrice},#{isInvoice},#{sumPrice},#{route.id},#{user.id})
	</insert>
</mapper>
